/*----index-----*/
/*------nav----*/
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}


.flex-div{
  display: flex;
  align-items: center;
}
nav{
  padding: 10px 2%;
  justify-content: space-betweem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-left {
  margin-right: 25%;
}
.nav-right{
  margin-left: 25%;
}
.flex-div .nav-right img{
  width: 40px;
  margin-right:px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.user-icon{
  width: 25px;
  border-radius: 50%;
  margin-right: 0;
}
.upload{
  width: 10px;
  size: 10;
}
.nav-left .menu-icon{
  width: 40px;
}
.nav-left .logo{
  width: 50px;
  padding-top: 5px;
}
.nav-middle .mic-icon{
  width: 40px;
}


.search-box{
  height: 40px;
  border: 1px solid #ccc;
  margin-right: 5px;
  padding: 8px 1px;
  border-radius: 40px;
  background-color: #C8C7C7;
}
.search-box input{
  width: 400px;
  border:0;
  color: black;
  outline: 0;
  background: transparent;
  margin-left: 3%;
  font-size: 20px;
}
.search-box input::placeholder{
  color: black;
}

/*------sidebar-------*/
.sidebar{
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 80px;
  padding-left: 2%;
}
.shortcut-links a img{
  width: 20px;
  margin-right: 20px;
}
.shortcut-links a{
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  width: fit-content;
  flex-wrap: wrap;
}
.shortcut-links a:first-child{
  color: red;
}

.sidebar hr{
  border: 0;
  height: 1px;
  background: #ccc;
  width: 90%;
  margin-bottom: 20px;
}
.subscribed-list h3{
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}
.subscribed-list a{
  display: flex;
  align-items:center;
  margin-bottom: 28px;
  width: fit-content;
  flex-wrap: wrap;
}
.subscribed-list a img{
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}
/*-------- main----------- */
.container{
  background: #f9f9f9;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 20px;
}
.banner{
  width: 101%;
}
.banner img{
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.list-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
   margin-top: 15px;
}
.vid-list.thumbnail{
  width: 100%;
  border-radius: 5%;
}
.vid-list.flex-div{
  align-items: flex-start;
  margin-top: 7px;
}
.flex-div img{
  width: 65px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 50%;
}
.vid-info{
  color:#5a5a5a;
  font-size: 13px;
}
.vid-info a{
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 2px;
}
/*-------explore--------*/
.trend-container{

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.container hr{
  margin-bottom: 20px;
}

.trend{
  padding-top: 10px;
  padding-left: 25%;
  padding-right: 2px;
}
.trend img{
  width: 30PX;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.trend img{
  margin-top: 0px;
}
.trend a p{
  margin-bottom: 10px;
  align-items: center;

}
.trend:hover{
  background-color: #C6C6C6;
}
/*---------Subscription---------*/
.text p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.chnl-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.subs{
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subs img{
    margin-top: 10px;
    width:80%;
    border-radius: 20%;
}
.subs a p{
  margin-bottom:10px;
  margin-top: 40px;
  align-items: center;
  font-weight: bold;
  color: grey;
}
.subs:hover{
  background-color: #C6C6C6;
}
.arrow img{
  width:20px;
}

/*---subscribes---*/
.error p b {
  font-weight: 600;
  font-size: 500%;
  align-items:center;
  font-family: sans-serif;
}
.vid-list:hover{
  transform: scale(1.1);
}
